.contacts {
  display: flex;
  align-items: center;

  &-item:hover {
    color: var(--accent-color);
  }

  &-item:not(:last-child) {
    margin-right: 50px;
  }
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-grey-color);

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.envelope-icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  fill: var(--link-grey-color);
  margin-right: 10px;

  .mail-link:hover &,
  .mail-link:focus & {
    fill: currentColor;
  }
}

.smartphone-icon {
  display: inline-block;
  width: 10px;
  height: 16px;
  fill: var(--link-grey-color);
  align-items: center;
  margin-right: 10px;

  .tel-link:hover &,
  .tel-link:focus & {
    fill: currentColor;
  }
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-grey-color);
  justify-content: center;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
